.main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
.top_product{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  padding: 20px;
}
.top_product_heading{
  text-align: center;
}
.top_product_heading h1{
  font-size: 30px;
  font-weight: 600;
  color: black;
  position: relative;
}
.top_product_heading h1::before{
  content: '';
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 70px;
  background: rgb(249, 81, 81) ;
  border-radius: 10px;
}
.top_product_heading span{
  font-size: 30px;
  font-weight: 600;
  color: rgb(249, 81, 81);
}
@media screen and (max-width:700px) {
  .top_product_heading span{
    font-size: 25px;
  }
  .top_product_heading h1{
    font-size: 25px;
  }
}